* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #b5cad9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#home-container {
    width: 400px;
    height: 400px;
    padding: 15px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 10px 10px 0px #7b8188;
    border: 15px solid #dbdfe4;
    background-color: #111;

    display: flex;
    justify-content: center;
    align-items: center;
}

#home-container h2 {
    color: #fff;
    font-size: 35px;
    margin: 10px 0;
}

#home-container .dialog-box {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#home-container .dialog-box #new-user {
    width: 100%;
    height: 35px;
    outline: none;
    border: none;
    padding: 0 15px;
    border: 2px solid #dbdfe4;
    box-shadow: 3px 3px 0px #545454;
}

#main-container #exit-btn,
#home-container .dialog-box #join-btn {
    width: 100px;
    height: 35px;
    margin: 10px 0;
    color: #fff;
    background-color: #3e3f40;
    box-shadow: 3px 3px 0px #dbdfe4;
    border: 2px solid #dbdfe4;
    cursor: pointer;
    transition: 0.5s ease-in;
}

#main-container #exit-btn:hover,
#home-container .dialog-box #join-btn:hover {
    color: #92969b;
    cursor: pointer;
    border: 2px solid #a6a6a6;
    box-shadow: -3px -3px 0px #dbdfe4;
    transition: 0.5s ease-out;
}

#home-container .dialog-box #need-help {
    position: relative;
    top: 50px;
    align-self: flex-end;
}

#navbar {
    display: flex;
    justify-content: space-between;
}

#navbar h1 {
    display: flex;
    align-items: center;
}

#home-container .dialog-box #need-help button {
    color: #ff0055;
    background: none;
    border: none;
    cursor: pointer;
}

#home-container .dialog-box #need-help button:hover {
    color: #a80b40;
}

#home-container .dialog-box #need-help-tips {
    width: 300px;
    background-color: #e6e5e5;
    padding: 25px;
    position: absolute;
    top: -20px;
    right: -210px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    display: none;
}

#home-container .dialog-box #need-help-tips #need-help-tips-btn {
    width: 25px;
    height: 25px;
    background-color: #d81515;
    border: 2px solid #808080;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    align-self: flex-end;
}

.main-container {
    width: 70%;
    margin: 0 auto;
    height: calc(100vh - 50px);
    display: none;
    flex-direction: column;
}

.main-container h1 {
    color: #fff;
    font-size: 30px;
}

.container {
    height: calc(100vh - 150px);
    padding: 50px;
    padding-bottom: 100px;

    background-color: #111;
    border: 10px solid #dbdfe4;
    box-shadow: 10px 10px 0px #434345;

    overflow-y: scroll !important;

    display: flex;
    flex-direction: column;

    position: relative;
}

.message {
    width: 75%;
    padding: 8px 20px;
    border-radius: 10px;
    margin-top: 3px;

    background-color: #dcdcdc;
}

.left {
    align-self: flex-start;
    width: fit-content;
}

.left-part {
    max-width: 75%;
}

.right {
    align-self: flex-end;
    width: fit-content;
}

.right-part {
    max-width: 75%;
}

.right-part .user-name {
    padding: 0;
}

#send-container {
    width: 65%;
    display: flex;
    box-shadow: 5px 5px 0px #434345;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 560%);
}

#send-container #send-btn-icon {
    height: 32px;
    width: 35px;
}

.container::-webkit-scrollbar {
    display: none;
}

#messageInp {
    width: 80%;
    height: 55px;
    padding: 0 50px;
    outline: none;
    font-size: 18px;
    border: 2px solid #dbdfe4;
    box-shadow: 3px 3px 20px #545454;
}

.user-name {
    font-size: 13px;
    padding: 8px 0;
}

/* https://pngtree.com/freepng/send-symbol-paper-airplane-icon-blue_7964318.html */
#send-container button {
    width: 25%;
    height: 55px;
    color: #fff;
    border: none;
    position: relative;
    cursor: pointer;
    background-color: #3e3f40;
}

#send-container button:hover {
    color: #c7cacc;
    cursor: pointer;
    border: 2px solid #a6a6a6;
    background-color: #2f2f2f;
}

.new-user-notification {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 0px;
    background-color: #484545;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border-radius: 5px;
}

/* TABLET */
@media only screen and (max-width: 1000px) {
    .container {
        padding: 30px 20px;
    }

    .main-container {
        width: 80%;
    }

    #home-container .dialog-box #need-help-tips {
        top: -5px;
        right: -55px;
    }
}

/* MOBILE */
@media only screen and (max-width: 500px) {
    .container {
        height: 100vh;
        padding: 15px 10px;
    }

    .main-container {
        width: 95%;
    }

    #home-container {
        width: 300px;
        height: 300px;
    }

    #home-container .dialog-box #need-help {
        top: 0px;
    }

    #home-container .dialog-box #need-help-tips {
        top: -23px;
        right: -15px;
    }

    #send-container {
        width: 83%;
    }
}

/* TEMP - TEST */
